body{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom:150px;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    display: flex;

}
.half-width{
   widtH:40%;
   margin-left:5%;
   padding-left:2%;
   float:left;

   
   
}

.half-width img{
    width:100%;
}

.name-color{
    color:orange;
}
h1{
    font-size: 50px;

}
h2{
    font-size:40px;
}
a{
    text-decoration:none;
    background-image: linear-gradient(45deg,salmon, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
}

.dream-big-area{
    background-image:url(img/dream-bg.png);
    background-repeat: no-repeat;
    display: flex;
    background-position: right;
}

.experience-part{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.experience-part h3{
    color: orange;
}

.experience-part div{
    box-shadow:5px 70px 40px gray;
    height: 80%;
    
}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(45deg,lightsalmon,tomato);
    border-image-slice:2;
}
#baby-stack{
    border-left:7px solid;
    border-image:linear-gradient(45deg, cyan,blue);
    border-image-slice:2;
}
footer p{
    text-align: center;
}

